{%- macro title() -%}
    Hash Generator
{%- endmacro -%}
{%- macro description() -%}
    Generates hashes from the supplied text. Supports NTLM, LM, MD5, SHA1, MySQL, Cisco, LDAP, and many more.
{%- endmacro -%}
