{%- macro title() -%}
    Password Endurance
{%- endmacro -%}
{%- macro description() -%}
    Measures the search space, length, combinations, and complexity of a password.
    Also evaluates the strength of the password based on multiple attack scenarios.
{%- endmacro -%}
