{%- macro title() -%}
    Binary Search Trees - Measuring Six Different Languages
{%- endmacro -%}
{%- macro description() -%}
    A look at the execution time and memory usage taken by six different languages to run through a very large binary search tree.
{%- endmacro -%}
{%- macro date() -%}
    November, 2015
{%- endmacro -%}
