{%- macro title() -%}
    Buffer Overflows
{%- endmacro -%}
{%- macro description() -%}
    Understanding buffer overflows and their security consequences with a showcase of vulnerable code and its exploitation.
{%- endmacro -%}
{%- macro date() -%}
    January, 2017
{%- endmacro -%}
