{%- macro title() -%}
    Buffer Overflows
{%- endmacro -%}
{%- macro description() -%}
    Understanding buffer overflows and their security consequences.
{%- endmacro -%}
{%- macro date() -%}
    January, 2017
{%- endmacro -%}
