{%- macro title() -%}
    Database Engines - MyISAM vs InnoDB
{%- endmacro -%}
{%- macro description() -%}
    A look into the MyISAM and InnoDB storage engines comparing read/write performance, locking, transaction support, and indexing.
{%- endmacro -%}
{%- macro date() -%}
    June, 2013
{%- endmacro -%}
