{%- macro title() -%}
    Dynamic Kubernetes Programming - Part 1
{%- endmacro -%}
{%- macro description() -%}
    Creating new objects in Kubernetes dynamically from user-supplied manifests.
{%- endmacro -%}
{%- macro date() -%}
    July, 2021
{%- endmacro -%}
