{%- macro title() -%}
    Hardening Linux
{%- endmacro -%}
{%- macro description() -%}
    A look into how you can harden Linux and improve the security of your environment.
{%- endmacro -%}
{%- macro date() -%}
    February, 2016
{%- endmacro -%}

