{%- macro title() -%}
    Generating and Managing Passwords
{%- endmacro -%}
{%- macro description() -%}
    How passwords should be generated and managed using proper cryptography.
{%- endmacro -%}
{%- macro date() -%}
    January, 2018
{%- endmacro -%}
