{%- macro title() -%}
    Generating and Managing Passwords
{%- endmacro -%}
{%- macro description() -%}
    A glimpse into how I generate and manage my passwords.
{%- endmacro -%}
{%- macro date() -%}
    January, 2018
{%- endmacro -%}
