{%- macro title() -%}
    Resilient, Performant Persistence
{%- endmacro -%}
{%- macro description() -%}
    Addressing storage performance, resiliency, and efficiency using ZFS.
{%- endmacro -%}
{%- macro date() -%}
    October, 2022
{%- endmacro -%}
