{%- macro title() -%}
    Rootkits - Detection and Removal
{%- endmacro -%}
{%- macro description() -%}
    A quick analysis of rootkits, what they are, how they work, and how they can be removed with special tools.
{%- endmacro -%}
{%- macro date() -%}
    March, 2015
{%- endmacro -%}
