{%- macro title() -%}
    The NSA and SSL/TLS
{%- endmacro -%}
{%- macro description() -%}
    An in-depth overview of the SSL and TLS protocols, the encryption behind them, and what the NSA is and isn't able to do with data encrypted by them.
{%- endmacro -%}
{%- macro date() -%}
    April, 2015
{%- endmacro -%}
