{%- macro title() -%}
    The Great Consolidation - Recursive Homelab Build
{%- endmacro -%}
{%- macro description() -%}
    How I collapsed all of my workloads onto one machine using a recursive build.
{%- endmacro -%}
{%- macro date() -%}
    May, 2020
{%- endmacro -%}
