[Unit]
Description=Nginx
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull nginx:mainline-alpine
ExecStart=/usr/bin/docker run --name nginx --net containers --ip 172.18.0.4 -p 80:80 -p 443:443 -v /home/aaron/nginx.conf:/etc/nginx/nginx.conf:ro -v /etc/letsencrypt/dhparam.pem:/etc/nginx/ssl/dhparam.pem:ro -v /etc/letsencrypt/live/aaronjwood.com/fullchain.pem:/etc/nginx/ssl/fullchain.pem:ro -v /etc/letsencrypt/live/aaronjwood.com/privkey.pem:/etc/nginx/ssl/privkey.pem:ro nginx:mainline-alpine
ExecStop=/usr/bin/docker stop nginx
ExecStopPost=/usr/bin/docker rm nginx

[Install]
WantedBy=multi-user.target
