{% extends "employer.html" %}
{% from "employer.html" import language_icons, tool_icons %}
{% set employer = "VMware" %}
{% set description = "Summary of my work and accomplishments at %s." % employer %}
{% set title = "Staff Engineer 2" %}
{% set dates = "February 2018 – November 2023" %}
{% set experiences = [
"Promoted from Staff Engineer to Staff Engineer 2 in 2022",
"Became a tech lead for the team in 2020",
"Promoted from Senior Member of Technical Staff to Staff Engineer in 2019",
"Founding member of Tanzu Service Mesh",
"Led a team to build in support for HTTP CONNECT and MitM proxies as part of cluster onboarding",
"Worked on the platform foundation to build out tenant and client cluster registration, a per-tenant CA, and much more",
"Continuously evolved the first major product feature, Global Namespaces",
"Built the second major product feature, Public Services, from the ground up",
"Designed and built out new workflow for secure client to SaaS connectivity utilizing mTLS, CSRs, and digitally signed JWTs",
"Worked with the chief architect on the platform data model and GraphQL compiler by adding support for polymorphic compiled code",
"Created K8s shared informer service responsible for shipping client cluster data to the SaaS"
] %}
{% set languages = [
language_icons['Go'],
language_icons['C++'],
language_icons['Python'],
language_icons['TypeScript'],
language_icons['Node.js'],
language_icons['Bash']
] %}
{% set tools = [
tool_icons['AWS'],
tool_icons['K8S'],
tool_icons['GraphQL'],
tool_icons['PostgreSQL'],
tool_icons['Docker'],
tool_icons['NGINX'],
tool_icons['Git'],
tool_icons['Confluence'],
tool_icons['GitLab'],
tool_icons['Jira'],
"Etcd",
"InfluxDB",
"Elasticsearch",
"Make"
] %}
