body {
    padding-top: 120px;
}

a {
    text-decoration: none;
}

#development-activity img {
    margin-right: 5px;
}

#password-analysis-table, .password-strength-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.language-icon {
    width: 75px;
    height: 75px;
}

.tool-icon {
    width: 75px;
    height: 75px;
}

#hex-values {
    word-wrap: break-word;
}
