{% extends "layout.html" %}
{%- block title -%}
    Character Counter
{%- endblock -%}
{%- block description -%}
    A small and simple tool that counts the number of characters entered into it.
{%- endblock -%}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h2>Character Counter</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <textarea class="form-control" rows="15" id="character-box"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Number of characters: <span id="num-characters"></span>
        </div>
    </div>
{% endblock %}
