{% extends "layout.html" %}
{%- block title -%}
Period Killer
{%- endblock -%}
{%- block description -%}
Free and open source directory and filename cleaner written in C#.
{%- endblock -%}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header text-center">
            <h2>Period Killer</h2>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <p>
            Period Killer is a free and open source directory and filename cleaning tool written in C#. It is built
            with simplicity, speed, and efficiency in mind.
        </p>

        <h4>How It Works</h4>

        <p>
            After launching Period Killer, simply select a folder that contains the folders to be processed and
            click "Clean Folder Names". This will replace all periods found in directory names with a space.
            Additionally, if you want files to be processed and have their periods replaced check the box under File
            -> Options that says "Process Filenames". If you want a portion of the directory and/or file name's text
            to be removed, check the box under File -> Options that says "Remove Folder Text" and/or "Remove
            Filename Text" and enter in the text. This will make the program remove the text you entered <em>(and
            everything after it)</em> from each directory and/or filename it processes.
        </p>

        <h4>Requirements</h4>

        <ul>
            <li>
                <a href="http://www.microsoft.com/en-us/download/details.aspx?id=17113" target="_blank">.NET
                    Framework 4.0</a>
            </li>
        </ul>

        <h4>Supported platforms (x86 &amp; x64)</h4>

        <ul>
            <li>Windows XP</li>
            <li>Windows Server 2003</li>
            <li>Windows Vista</li>
            <li>Windows 7</li>
            <li>Windows 8</li>
            <li>Windows Server 2008</li>
            <li>Windows Server 2012</li>
        </ul>

        <h4>What's New</h4>

        <ul>
            <li>Recursive processing</li>
            <li>Completely new UI</li>
            <li>Handle potential IO exceptions when scanning directories/files</li>
        </ul>

        <h4>What's Planned For Future Versions</h4>

        <ul>
            <li>Collision actions</li>
        </ul>
    </div>
    <div class="col-md-6 text-center">
        <img class="img-fluid" src="/static/images/period-killer/2.png" alt="Period Killer"/>

        <p>
            <a href="/static/programs/periodkiller.exe">
                Download Period Killer 3.5.3 <span class="glyphicon glyphicon glyphicon-download"></span>
            </a>
        </p>
    </div>
</div>
{% endblock %}
