{% extends "layout.jinja" %}
{%- block title -%}{{ employer }}{%- endblock -%}
{%- block description -%}{{ description }}{%- endblock -%}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header text-center">
            <h2>{{ employer }}</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <strong>{{ title }}</strong>
            <br />
            <em>{{ dates }}</em>
        </p>

        <ul>
            {% for experience in experiences %}
            <li>{{ experience }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if languages is defined and tools is defined %}
<div class="row mt-4">
    <div class="col-md-12">
        <h3 class="text-center">Technologies</h3>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <h4>Languages/Frameworks/Libraries</h4>
            <hr>
            {% for language in languages %}
            <p>{{ language|safe }}</p>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h4>Infrastructure/Databases/Tools</h4>
            <hr>
            {% for tool in tools %}
            <p>{{ tool|safe }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
