<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Aaron Wood">
    <meta name="description"
          content="{% block description %}Passionate software engineer with strong knowledge and experience in Linux, security, and databases.{% endblock %}"/>
    <title>{% block title %}{% endblock %} :: Aaron J Wood</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/node_modules/bootswatch/dist/slate/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/gist-dark.css">
    <script defer type="text/javascript" src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script defer type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer type="text/javascript" src="/static/node_modules/biginteger/biginteger.js"></script>
    <script defer type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <strong>AJW</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        Employment
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/employment/vmw/">
                            <img alt="VMware"
                                 src="/static/images/icons/vmware.png"/>
                            VMware
                        </a>
                        <a class="dropdown-item" href="/employment/vz/">
                            <img alt="Verizon Labs"
                                 src="/static/images/icons/verizon.png"/>
                            Verizon Labs
                        </a>
                        <a class="dropdown-item" href="/employment/cvs/">
                            <img alt="CVS Health" src="/static/images/icons/cvs.png"/>
                            CVS Health
                        </a>
                        <a class="dropdown-item" href="/employment/ve/">
                            <img alt="VE Industries" src="/static/images/icons/ve.png"/>
                            VE Industries
                        </a>
                        <a class="dropdown-item" href="/employment/fsu/">
                            <img alt="Framingham State University"
                                 src="/static/images/icons/fsu.png"/> FSU
                        </a>
                        <a class="dropdown-item" href="/employment/cs/">
                            <img alt="Spirinet Technology Services"
                                 src="/static/images/icons/cs.png"/>
                            Spirinet Technology Services
                        </a>
                        <a class="dropdown-item" href="/employment/ecp/">
                            <img alt="East Coast Publications"
                                 src="/static/images/icons/nerej.png"/> East Coast
                            Publications
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                       aria-expanded="false">
                        Software
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="https://play.google.com/store/apps/details?id=com.aaronjwood.portauthority.free">
                            <img alt="Java" src="/static/images/icons/java.svg" width="16" height="16"/> Port
                            Authority
                        </a>
                        <a class="dropdown-item" href="/tools/period-killer/">
                            <img alt="C#" src="/static/images/icons/csharp.svg" width="16" height="16"/> Period
                            Killer
                        </a>
                        <a class="dropdown-item" href="/tools/text-analyzer/">
                            <img alt="Java" src="/static/images/icons/java.svg" width="16" height="16"/> Text
                            Analyzer
                        </a>
                        <a class="dropdown-item" href="/tools/character/">
                            <img alt="JavaScript" src="/static/images/icons/js.svg" width="16" height="16"/>
                            Character Counter
                        </a>
                        <a class="dropdown-item" href="/tools/hash/">
                            <img alt="Python" src="/static/images/icons/python.svg" width="16" height="16"/> Hash
                            Generator
                        </a>
                        <a class="dropdown-item" href="/tools/hex/">
                            <img alt="JavaScript" src="/static/images/icons/js.svg" width="16" height="16"/> Hex
                            Generator
                        </a>
                        <a class="dropdown-item" href="/tools/password-endurance/">
                            <img alt="JavaScript" src="/static/images/icons/js.svg" width="16" height="16"/>
                            Password Endurance
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                       aria-expanded="false">
                        Articles
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
						<a class="dropdown-item" href="/articles/dynamic-k8s-programming-1/">Dynamic Kubernetes Programming - Part 1</a>
                        <a class="dropdown-item" href="/articles/the-great-consolidation-recursive-homelab-build/">The
                            Great Consolidation - Recursive Homelab Build</a>
                        <a class="dropdown-item" href="/articles/passwords/">Generating/Managing Passwords</a>
                        <a class="dropdown-item" href="/articles/buffer-overflows/">Buffer Overflows</a>
                        <a class="dropdown-item" href="/articles/hardening-linux/">Hardening Linux</a>
                        <a class="dropdown-item" href="/articles/binary-search-trees/">Binary Search Trees</a>
                        <a class="dropdown-item" href="/articles/the-nsa-and-ssl-tls/">The NSA and SSL/TLS</a>
                        <a class="dropdown-item" href="/articles/rootkits/">Rootkits</a>
                        <a class="dropdown-item" href="/articles/database-engines/">Database Engines</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                       aria-expanded="false">
                        Talks
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="https://www.youtube.com/watch?v=wl6qaronlvk" target="_blank">
                            <img alt="YouTube" src="/static/images/icons/youtube.png"/> MesosCon 2017</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/aaronjwood" target="_blank">
                        <img alt="GitHub" src="/static/images/icons/github.png"/>
                        GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" class="nav-link" href="https://twitter.com/woodchips">
                        <img alt="Twitter" src="/static/images/icons/twitter.png"/>
                        Twitter
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/aaronjwood">
                        <img alt="LinkedIn" src="/static/images/icons/linkedin.png"/>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer class="footer text-center mt-5">
    <div class="container">
        <p class="text-muted">
            <a href="https://github.com/aaronjwood/aaronjwood.com" target="_blank">This site is 100% open source</a> and
            <a href="https://www.ssllabs.com/ssltest/analyze.html?d=aaronjwood.com&hideResults=on" target="_blank">supports TLS 1.3,
                HSTS, HTTP/2, and ALPN</a>
        </p>
    </div>
</footer>
</body>
</html>
