<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Aaron Wood">
    <meta name="description"
          content="{% block description %}Passionate software engineer with strong knowledge and experience in Linux, security, and databases.{% endblock %}"/>
    <title>{% block title %}{% endblock %} :: Aaron J Wood</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="images/favicon.ico") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="node_modules/bootswatch/yeti/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main.css") }}?v={{ css_version }}">
    <script defer type="text/javascript"
            src="{{ url_for("static", filename="node_modules/jquery/dist/jquery.min.js") }}"></script>
    <script defer type="text/javascript"
            src="{{ url_for("static", filename="node_modules/bootstrap/dist/js/bootstrap.min.js") }}"></script>
    <script defer type="text/javascript"
            src="{{ url_for("static", filename="node_modules/biginteger/biginteger.js") }}"></script>
    <script defer type="text/javascript"
            src="{{ url_for("static", filename="js/main.js") }}?v={{ js_version }}"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-9865778-4', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong>AJW</strong>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="header-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Employment
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/employment/vmw/">
                                <img alt="VMware"
                                     src="{{ url_for("static", filename="images/icons/vmware.png") }}"/>
                                VMware
                            </a>
                        </li>
                        <li>
                            <a href="/employment/vz/">
                                <img alt="Verizon Labs"
                                     src="{{ url_for("static", filename="images/icons/verizon.png") }}"/>
                                Verizon Labs
                            </a>
                        </li>
                        <li>
                            <a href="/employment/cvs/">
                                <img alt="CVS Health" src="{{ url_for("static", filename="images/icons/cvs.png") }}"/>
                                CVS Health
                            </a>
                        </li>
                        <li>
                            <a href="/employment/ve/">
                                <img alt="VE Industries" src="{{ url_for("static", filename="images/icons/ve.png") }}"/>
                                VE Industries
                            </a>
                        </li>
                        <li>
                            <a href="/employment/fsu/">
                                <img alt="Framingham State University"
                                     src="{{ url_for("static", filename="images/icons/fsu.png") }}"/> FSU
                            </a>
                        </li>
                        <li>
                            <a href="/employment/cs/">
                                <img alt="ComputerSupport"
                                     src="{{ url_for("static", filename="images/icons/cs.png") }}"/>
                                ComputerSupport
                            </a>
                        </li>
                        <li>
                            <a href="/employment/ecp/">
                                <img alt="East Coast Publications"
                                     src="{{ url_for("static", filename="images/icons/nerej.png") }}"/> East Coast
                                Publications
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Code
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="https://github.com/verizonlabs/hydrogen" target="_blank">Hydrogen</a>
                        </li>
                        <li>
                            <a href="https://github.com/verizonlabs/mesos-framework-sdk" target="_blank">Mesos Framework
                                SDK</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/PortAuthority" target="_blank">Port Authority</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/cracker" target="_blank">Cracker</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/viper" target="_blank">Viper</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/periodkiller" target="_blank">Period Killer</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/textanalyzer" target="_blank">Text Analyzer</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/QForm" target="_blank">QForm</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/SharpProfiler" target="_blank">Sharp Profiler</a>
                        </li>
                        <li>
                            <a href="https://github.com/aaronjwood/multilib" target="_blank">Multilib</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Tools
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.aaronjwood.portauthority.free"
                               target="_blank">Port Authority</a>
                        </li>
                        <li>
                            <a href="/tools/period-killer/">Period Killer</a>
                        </li>
                        <li>
                            <a href="/tools/text-analyzer/">Text Analyzer</a>
                        </li>
                        <li>
                            <a href="/tools/character/">Character Counter</a>
                        </li>
                        <li>
                            <a href="/tools/hash/">Hash Generator</a>
                        </li>
                        <li>
                            <a href="/tools/hex">Hex Generator</a>
                        </li>
                        <li>
                            <a href="/tools/password-endurance/">Password Endurance</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Articles
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/articles/buffer-overflows/">Buffer Overflows</a>
                        </li>
                        <li>
                            <a href="/articles/hardening-linux/">Hardening Linux</a>
                        </li>
                        <li>
                            <a href="/articles/binary-search-trees/">Binary Search Trees</a>
                        </li>
                        <li>
                            <a href="/articles/rootkits/">Rootkits</a>
                        </li>
                        <li>
                            <a href="/articles/database-engines/">Database Engines</a>
                        </li>
                        <li>
                            <a href="/articles/the-nsa-and-ssl-tls/">The NSA and SSL/TLS</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Talks
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="https://www.youtube.com/watch?v=wl6qaronlvk" target="_blank">MesosCon 2017</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Profiles
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="https://github.com/aaronjwood" target="_blank">
                                <img alt="GitHub" src="{{ url_for("static", filename="images/icons/github.png") }}"/>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/cv/aaronjwood" target="_blank">
                                <img alt="Stack Overflow CV"
                                     src="{{ url_for("static", filename="images/icons/careers.png") }}"/> Stack Overflow
                                CV
                            </a>
                        </li>
                        <li>
                            <a href="http://stackoverflow.com/users/571783/aaron" target="_blank">
                                <img alt="Stack Overflow"
                                     src="{{ url_for("static", filename="images/icons/so.png") }}"/> Stack Overflow
                            </a>
                        </li>
                        <li>
                            <a href="http://serverfault.com/users/71373/aaron" target="_blank">
                                <img alt="Server Fault" src="{{ url_for("static", filename="images/icons/sf.png") }}"/>
                                Server Fault
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+AaronWood0/posts" target="_blank">
                                <img alt="Google" src="{{ url_for("static", filename="images/icons/google.png") }}"/>
                                Google
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/aaronjwood" target="_blank">
                                <img alt="LinkedIn"
                                     src="{{ url_for("static", filename="images/icons/linkedin.png") }}"/> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/woodchips" target="_blank">
                                <img alt="Twitter" src="{{ url_for("static", filename="images/icons/twitter.png") }}"/>
                                Twitter
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCmk7mkR80UZjjrnmAOiNOCw" target="_blank">
                                <img alt="YouTube" src="{{ url_for("static", filename="images/icons/youtube.png") }}"/>
                                YouTube
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<br/>
<footer class="footer text-center">
    <div class="container">
        <p class="text-muted">
            <a href="https://github.com/aaronjwood/aaronjwood.com" target="_blank">This site is 100% open source.</a>
        </p>
    </div>
</footer>
</body>
</html>
