{%- import "tools/models/hex.jinja" as data -%}
{% extends "tool.html" %}
{% block tool %}
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <label class="radio-inline">
                <input class="hex-type" name="hex-type" value="String" checked="checked" type="radio"/> String to hex
            </label>
            <label class="radio-inline">
                <input class="hex-type" name="hex-type" value="Decimal" type="radio"/> Decimal to hex
            </label>
            <textarea class="form-control" rows="10" id="hex-text"></textarea>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div id="hex-values"></div>
        </div>
    </div>
{% endblock %}
